.video-list {
    border: 1px solid lightgray;
    display: flex;
    margin-top: 10px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display:block;
    min-width: 120px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}